body {
    background: #495f8e;
}

#content {
    position: relative;
    top: 100px;
}
#content #field{
    margin: 0 auto;
}
#account{
    width: 100%;
    text-align: center;
}
#account p{
    display: inline-block;
    margin-left: 300px;
    margin-right: 300px;
    font-family: 'Comic Sans MS';
    font-size: 30px;
    color: #bfffdd;
}

#content #field td {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    color: rgb(100, 210, 255);
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    font-family: 'Comic Sans MS';
}